<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="style.css">

</head>

<body class="grid container h-screen items-center justify-center">

    <div id="app">
        <h1 class="text-4xl py-2">{{heading}}</h1>
        <hr><br>
        <form @submit.prevent="addItem">
            <input v-model="newItem" class="w-80 border p-2" type="text" placeholder="Enter New Item">
            <br><br>
        </form>
        <ul class="list-group w-80">
            <li class="list-group-item border p-2" v-for="item in items" :key="item.name">
                {{ item.name }} - {{ item.price }}
            </li>
        </ul>
    </div>


    <script src="main.js"></script>
</body>

</html>